<form action='/links/index' method='post'>
  Page Name: <input type="text" name="page_name"><br>
  Page URL: <input type="text" name="page_url">
  Tag: <input type="text" name="tags">
  <input type="submit" value="Create new link">
</form>
