<form action='/links' method='post'>
  Page Name: <input type="text" name="page_name"><br>
  Page URL: <input type="text" name="page_url">
  Tag: <input type="text" name="tag">
  <input type="submit" value="Create new link">
</form>
